langchain
langchain-openai
langchain-core
openai
python-dotenv
langdetect
asyncpg
pinecone
pandas
psycopg2-binary
fastapi
uvicorn
gunicorn
jmespath
langgraph
langchain-community
langchainhub
tiktoken
langchain-pinecone
langchain-text-splitters 
streamlit